<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">
                ¡Registra tu cuenta Mi Ventana!
              </h1>
            </div>
            <form class="user" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <app-input
                    formControlName="name"
                    placeholder="Nombre"></app-input>
                </div>
                <div class="col-sm-6">
                  <app-input
                    formControlName="lastName"
                    placeholder="Apellido"></app-input>
                </div>
              </div>
              <div class="form-group">
                <app-input
                  formControlName="email"
                  placeholder="Correo electrónico"
                  type="email"></app-input>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <app-input
                    formControlName="password"
                    placeholder="Contraseña"
                    type="password"></app-input>
                </div>
                <div class="col-sm-6">
                  <app-input
                    formControlName="password"
                    placeholder="Confirmar contraseña"
                    type="password"></app-input>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Registrar
              </button>
            </form>
            <hr />
            <div class="text-center">
              <span class="small">¿Ya tienes cuenta? </span>
              <a class="small" routerLink="/login"
                >Inicia sesión</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
